
<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2 class="text-danger">Corrija <%= pluralize(project.errors.count, "erro") %> abaixo:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li class="text-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Nome" %>
    <%= form.text_field :name, class: "form-control", :autocomplete => :off %>
  </div>

  <div class="form-group">
    <%= form.label :begin, "Início" %>
    <% date = project.begin ? project.begin.strftime('%d/%m/%Y') : Date.today.strftime('%d/%m/%Y') %>
    <%= form.text_field :begin, class: "form-control datepicker ", value: date, :autocomplete => :off %>
    
  </div>

  <div class="form-group">
    <%= form.label :end, "Fim" %>
    <% date = project.end ? project.end.strftime('%d/%m/%Y') : Date.today.strftime('%d/%m/%Y') %>
    <%= form.text_field :end, class: "form-control datepicker ", value: date, :autocomplete => :off %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary font-weight-bold btn-sm", value: "Salvar" %>

    <%= link_to 'Cancelar', projects_path, class: "btn btn-danger font-weight-bold btn-sm" %>

    <% if project.id %>
      <%= link_to 'Ver', project_path, class: "btn btn-light font-weight-bold btn-sm" %>
    <% end %>
  
  </div>
<% end %>