<p id="notice" class="text-success"><%= notice %></p>  

<div>
  <div class="row">
    <div class="col">
      <h1>Meus Projetos</h1>
    </div>
  </div>

    <br>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th colspan="1">Projeto</th>
        <th colspan="1">Início</th>
        <th colspan="1">Fim</th>
        <th colspan="1">% Completo</th>
        <th colspan="1">Status</th>
        <th colspan="1">
          <%= link_to "+ Projeto", new_project_path, class: "btn btn-info font-weight-bold btn-block btn-sm" %>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td>
            <%= link_to project.name, project, class: "text-info font-weight-bold" %>
          </td>
          <td><%= project.begin.strftime('%d/%m/%Y') %></td>
          <td><%= project.end.strftime('%d/%m/%Y') %></td>
          <td>
            <div class="progress" style="height: 25px;">
              <div class="progress-bar" role="progressbar" style="width: <%= project.porcentagem_completa %>%;" aria-valuenow="<%= project.porcentagem_completa %>" aria-valuemin="0" aria-valuemax="100">
                <%= project.porcentagem_completa %>%
              </div>
            </div>
          </td>
          <td>
            <span class="badge badge-pill badge-<%= project.status[0] %>">
              <%= project.status[1] %>
            </span>
          </td>
          <td>
            <div class="float-right">
              <%= link_to icon('fas', 'edit'), edit_project_path(project), class: "btn btn-outline-dark btn-sm" %>
              <%= link_to icon('fas', 'trash-alt'), project, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-outline-dark btn-sm" %>
            </div>
          </td>
          
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
