<%= form_with(model: [project, activity], local: true) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Nome" %>
    <%= form.text_field :name, class: "form-control", :autocomplete => :off %>
  </div>

  <div class="form-row">
    <div class="col">
      <%= form.label :begin, "Início" %>
      <% date = activity.begin ? activity.begin.strftime('%d/%m/%Y') : nil %>
      <%= form.text_field :begin, class: "form-control datepicker ", value: date, :autocomplete => :off %>
    </div>

    <div class="col">
      <%= form.label :end, "Fim" %>
      <% date = activity.end ? activity.end.strftime('%d/%m/%Y') : nil %>
      <%= form.text_field :end, class: "form-control datepicker ", value: date, :autocomplete => :off %>
    </div>
  </div>

  <br>

  <div class="form-group form-check">    
    <%= form.check_box :finished, class: "form-check-input"%>
    <%= form.label :finished, "Finalizada?", class: "form-check-label" %>
  </div>

  <%= form.hidden_field :project_id, value: project.id %>

  <div class="actions">
    <%= form.submit class: "btn btn-primary font-weight-bold btn-sm", value: "Salvar" %>

    <%= link_to 'Cancelar', project_path(project.id), class: "btn btn-danger font-weight-bold btn-sm" %>
  </div>
<% end %>
